.trick/
build/
config/
docs/
nginx/
node_modules/
test/
static/
dist/
_config.yml
.dockerignore
.editorconfig
.eslintignore
.babelrc
.postcssrc.js
karma.conf.js
project.config.json
yarn.lock
.eslintrc.js
.gitignore
.gitlab-ci.yml
docker-compose.yml
Dockerfile
index.html
package-lock.json
